<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Artur Joaquim</title>
</head>
<body>
    <!--HEADER-->
    <header>
        <h1 class="title">Artur Joaquim</h1>
        <!--MENU-HAMBURGUER-->
        <input type="checkbox" name="bt-menu" id="bt-menu">
        <label for="bt-menu">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <!--NAV-BAR-->
        <nav class="menu-bar">
            <ul>
                <li><a href="#sobre-mim">Sobre</a></li>
                <li><a href="#projetos">Projetos</a></li>
                <li><a href="#contatos">Contatos</a></li>
            </ul>
        </nav>
    </header>
    <!--MAIN-->
    <main>
        <!--SOBRE-->
        <section id="sobre-mim">
            <article>
                <img src="static/imagens/minha-foto.jpg" alt="Minha foto">
                <div>
                    <h2 class="title title-section">Quem sou eu?</h2>
                    <p>Bem vindo ao meu site, meu nome é Artur, tenho 16 anos, sou de São Gonçalo - RJ e hoje moro em Taboão da Serra - SP.</p>
                    <p>Meu primeiro contato com programação foi com python em 2018, em 2020 fiz trabalhos freelancers em Lua e atualmente estudo desenvolvimento web e continuo estudando python.</p>
                </div>
            </article>
        </section>
        <!--PROJETOS-->
        <section id="projetos">
            <h2 class="title title-section">Projetos</h2>
            <div id="grid-projetos">
                <article class="projeto">
                    <h3 class="title">Comunidade Techs</h3>
                    <img src="static/imagens/comunidade-p.png" alt="Print da comunidade">
                    <p>Comunidade Techs é uma web comunidade com usuários, posts e muito mais. Desenvolvido com Flask (python) e Bootstrap, Comunidade Techs é apenas um site para portfolio pessoal. Você pode acessar seu <a href="https://github.com/arturjoaquim/site-comunidade" target="_blank" rel="external">código fonte</a> e também <a href="https://comunidade-techs.herokuapp.com" target="_blank" rel="external">visitá-lo</a>.</p>
                </article>
                <article class="projeto">
                    <h3 class="title">Chat-bot</h3>
                    <img src="static/imagens/comunidade-p.png" alt="Robô Figurativo">
                    <p>Chat-bot é uma IA treinada para responder mensagens e simular uma conversa natural entre duas pessoas. É desenvolvido com python e spacy (biblioteca de linguagem neural). Você pode acessar seu <a href="https://github.com/arturjoaquim/bot-api" target="_blank" rel="external">código fonte</a> por aqui.</p>
                </article>
            </div>
        </section>
        <!--CONTATOS-->
        <section id="contatos">
            <h2 class="title title-section">Onde estou?</h2>
            <ul>
                <li>
                    <a href="https://github.com/arturjoaquim" target="_blank" rel="external"><img src="static/imagens/icone-github.png" alt="ícone github">/arturjoaquim</a> - Acesse meu perfil no GitHub
                </li>
                <li>
                    <a href="https://www.instagram.com/arturjoaquim_/" target="_blank" rel="external"><img src="static/imagens/icone-instagram.png" alt="ícone instagram">/arturjoaquim_</a> - Me segue lá no Instagram
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/artur-joaquim-rodrigues/" target="_blank" rel="external"><img src="static/imagens/icone-linkedin.png" alt="ícone linkedin">/artur-joaquim-rodrigues</a> - Me adiciona lá no LinkedIn
                </li>
                <li>
                    <a href="https://twitter.com/ajobr2011" target="_blank" rel="external"><img src="static/imagens/icone-twitter.png" alt="ícone twitter">/ajobr2011</a> - Me segue lá no Twitter
                </li>
            </ul>
        </section>
    </main>
    <!--FOOTER-->
    <footer>
        <p>Site feito por <a href="#">Artur Joaquim</a>.</p>
        <p>
            Imagem de <a href="https://pixabay.com/pt/users/felixmh-3374205/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5675055">Felix Mendoza</a> por <a href="https://pixabay.com/pt/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5675055">Pixabay</a> ||
            Imagem de <a href="https://pixabay.com/pt/users/mcmurryjulie-2375405/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2883144">mcmurryjulie</a> por <a href="https://pixabay.com/pt/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2883144">Pixabay</a></p>
    </footer>
</body>
</html>